<!-- HERO -->
<section class="hero ">
    <div class="">

        <span class="blueify-bg bi-droplet-half py-3 px-3 hero-tag">
            Best cleaning services in Hamilton, Ontario
        </span>
        <h1 class="mt-4">
            <b><span class="blueify">Transform</span> Your Space With <br>
                Professional <span class="blueify">Cleaning</span> </b>
        </h1>
        <p>
            A&B cleaners deliver exceptional cleaning services<br>
            tailored to your needs. Experience Spotless Perfection<br>
            from Trusted Experts in your space
        </p>
        <div class="hero-btn d-flex">
            <button routerLink="booking" class="primary-btn btn p-3"><b> Book a service now</b></button>
            <button routerLink="services" class=" btn p-3"><b>View Services <span class="bi bi-arrow-up-right"></span></b></button>
        </div>
    </div>
</section>


<!-- SERVICES -->
<section  class="services m-5 p-5 d-flex flex-column">
    <span data-aos="fade-down" data-aos-duration="1000" class="d-flex justify-content-between">
        <p class="fs-2 heading">Our Services</p>
        <button class="btn serv-btn blueify">View All Services &nbsp; <span class="bi bi-arrow-right"></span></button>
    </span>
    <b>Tailored Cleaning <span class="blueify">Solutions</span> For Every Need</b>
    <div class="mt-5 mb-3">
        <div class="box-hold d-flex flex-wrap justify-content-between">
            <div data-aos="fade-up" data-aos-duration="1000" class="box">
                <span class="fs-1 blueify bi-building">
                </span>
                <p class="fs-5"><b>Office and Church Cleaning</b></p>
                <p>Keep your workspace and your place of worship productive
                    and serene with our expert cleaning services.
                </p>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" class="box">
                <span class=" fs-1 blueify bi bi-buildings">
                </span>
                <p class="fs-5"><b>Industrial Facility Cleaning</b></p>
                <p>Keep your industrial facility running smoothly
                    with A&B cleaning services. We handle warehouses,
                    manufacturing plants, and other industrial spaces
                </p>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" class="box">
                <span class=" fs-1 blueify bi bi-house-door-fill">
                </span>
                <p class="fs-5"><b>Residential / Home Cleaning</b></p>
                <p>Transform youir home into a haven of cleanliness and comfort
                    with our residential cleaning services.
                </p>
            </div>
        </div>
        <div   class="box-hold d-flex flex-wrap justify-content-between">
            <div data-aos="fade-up" data-aos-duration="1000"class="box">
                <span class="fs-1 blueify bi-shop">
                </span>
                <p class="fs-5"><b>Supermarkets Cleaning</b></p>
                <p>Create a welcoming shopping experience with our
                    professional supermarket cleaning. We maintain cleanliness.
                </p>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" class="box">
                <span class=" fs-1 blueify bi bi-shop-window">
                </span>
                <p class="fs-5"><b>Commercial Building Cleaning</b></p>
                <p>Enhance the appearance and functionality of your
                    commercial building with our comprehensive cleaning services.
                </p>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" class="box">
                <span class=" fs-1 blueify bi bi-hospital">
                </span>
                <p class="fs-5"><b>Healthcare Facility Cleaning</b></p>
                <p>Prioritize health and safety of patients and staf
                    f with our specialized healthcare facility cleaning services.
                </p>
            </div>
        </div>
    </div>
    <button data-aos="fade-up" data-aos-duration="800" class="btn primary-btn m-auto">Get Quote now</button>
</section>

<!--  -->
<!-- TESTIMONIALS -->
<!--  -->
<!--  -->

<section data-aos="fade-up" data-aos-duration="1000" class="testimonials m-5 p-5">
    <p class="fs-3">Testimonial</p>
    <span class="d-flex justify-content-between">
        <b>Tailored Cleaning <span class="blueify">Solutions</span> For Every Need</b>
    </span>
    <div class="mt-5 mb-3">
        <div >
            <ngb-carousel >
                <ng-template ngbSlide>

                    <div class="d-flex flex-wrap carou1 justify-content-around">

                        <div class="box p-4 border rounded">

                            <p class="fs-5"><b>Outstanding Cleaning Services</b></p>
                            <span class="star bi-star-fill"></span>
                            <span class="star bi-star-fill"></span>
                            <span class="star bi-star-fill"></span>
                            <span class="star bi-star-fill"></span>
                            <span class="star bi-star-fill"></span> <small class="fs-6">&nbsp; 5.0</small>
                            <p>A&B Cleaner janitorial Service is highly recommended for its outstanding
                                and excellence delivery of quality cleaning services in my Hotels and commercial
                                office facilities. I'm glad that I engaged A&B Cleaner janitorial and it is highly
                                recommended. Thank you A&B for the good job
                            </p>
                        </div>
                        <div class="box p-4 border rounded">
                            <p class="fs-5"><b>Good Services</b></p>
                            <span class="star bi-star-fill"></span>
                            <span class="star bi-star-fill"></span>
                            <span class="star bi-star-fill"></span>
                            <span class="star bi-star-fill"></span>
                            <span class="star bi-star-fill"></span> <small class="fs-6">&nbsp; 5.0</small>
                            <p>A&B Cleaning Janitorial-Services Provides, are very good in our community good service, I
                                recommend it to
                                all communities and friends to use the company for their business.
                            </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template ngbSlide>

                    <div class="d-flex flex-wrap carou2 justify-content-around">

                        <div class="box p-4 border rounded">
                            <p class="fs-5"><b>Good job cleaning</b></p>
                            <span class="star bi-star-fill"></span>
                            <span class="star bi-star-fill"></span>
                            <span class="star bi-star-fill"></span>
                            <span class="star bi-star-fill"></span>
                            <span class="star bi-star-fill"></span> <small class="fs-6">&nbsp; 5.0</small>
                            <p>A& B cleaning service did a great job in cleaning my office.
                                I definately will recommend them.
                            </p>
                        </div>
                        <div class="box p-4 border rounded">
                            <p class="fs-5"><b>Good customer service</b></p>
                            <span class="star bi-star-fill"></span>
                            <span class="star bi-star-fill"></span>
                            <span class="star bi-star-fill"></span>
                            <span class="star bi-star-fill"></span>
                            <span class="star bi-star-fill"></span> <small class="fs-6">&nbsp; 5.0</small>
                            <p>They are the best to work with.
                            </p>
                        </div>
                    </div>
                </ng-template>

            </ngb-carousel>
        </div>
        <!--  -->
    </div>
</section>


<!--  -->
<!-- WHY CHOOSE US -->
<!--  -->

<section class="why m-5 p-5">
    <p data-aos="fade-down" data-aos-duration="1000" class="fs-3">Why Choose Us</p>
    <span class="d-flex justify-content-between">
        <b>Why you should <span class="blueify">trust us</span> with you <span class="blueify">cleaning</span> needs
        </b>
    </span>
    <div class="sect mt-5 mb-3">
        <div class="box-hold d-flex  justify-content-around">

            <div id="reaction" class="item align-self-center">
                <!-- <div id="top-left" class="corner"></div> -->
                <div id="top-right" class="corner"></div>
                <!-- <div id="bottom-right" class="corner"></div> -->
                <div id="bottom-left" class="corner"></div>
                <div class="content">
                    <img data-aos="fade-right" data-aos-duration="1500" class="officemen" src="../../../assets/officemen.png" width=100%>
                </div>
            </div>
            <section data-aos="fade-left" data-aos-duration="1000">

                <div  class="box-hold d-flex flex-wrap justify-content-around">

                    <div class="box2">
                        <span class=" fs-1 blueify bi bi-people-fill">
                        </span>
                        <p class="fs-5"><b>Highly Trained Team</b></p>
                        <p>Our cleaning professionals undergo rigorous training to
                            ensure they provide the highest standard of service every time
                        </p>
                    </div>

                    <div class="box2">
                        <span class=" fs-1 blueify bi bi-search">
                        </span>
                        <p class="fs-5"><b>Attention To Detail</b></p>
                        <p>We pride ourselves on our meticulous approach,
                            cleaning every nook and cranny to leave your space looking its best
                        </p>
                    </div>
                </div>

                <div class="box-hold d-flex flex-wrap justify-content-around">

                    <div class="box2">
                        <span class=" fs-1 blueify bi bi-diagram-2-fill">
                        </span>
                        <p class="fs-5"><b>Advanced Cleaning Techniques</b></p>
                        <p>We stay up-to-date with the latest cleaning technologies
                            and methods to offer the most efficient and effective services
                        </p>
                    </div>

                    <div class="box2">
                        <span class=" fs-1 blueify bi bi-shield-fill-check">
                        </span>
                        <p class="fs-5"><b>Commitment to safety</b></p>
                        <p>Our team follows strict safety protocols to
                            protect both our staff and your property during cleaning
                        </p>
                    </div>
                </div>
            </section>
        </div>

    </div>
</section>

<!--  -->
<!-- ABOUT -->
<!--  -->
<section class="about m-5 p-5">

    <div class="mt-5 mb-3">
        <p class="fs-3 m-2">About Us</p>
        <span class="d-flex m-2 justify-content-between">
            <b>Get To Know <span class="blueify">A&B Cleaners </span>Janitorial Services</b>

        </span>
        <div class="box-hold d-flex flex-wrap justify-content-around">
            <div class="box2 p-3 align-self-center">
                <p>Since April 09, 2019, A & B Cleaners have done nothing
                    but provide exceptional cleaning and janitorial services
                    for a wide variety of spaces. In addition to our exceptional
                    services, A & B Cleaners is fully insured and bonded, our clients
                    enjoy peace of mind and security with guaranteed quality service.
                </p>
            </div>
            <div class=" d-flex flex-column justify-content-around">
                <img src="../../../assets/ab.png" width="70%" class="m-auto" alt="">
            </div>
        </div>
    </div>
</section>


<!-- CONTACT -->
<section class="contact m-5 p-5">
    <p class="fs-3">Contact Us</p>
    <span class="d-flex justify-content-between">
        <b>Tailored Cleaning <span class="blueify">Solutions</span> For Every Need</b>
    </span>
    <div class="mt-5 mb-3">
        <div class="box-hold d-flex flex-wrap justify-content-around">
            <div class="contact-cell d-flex p-3">
                <div class="box p-3 border-rounded m-auto">
                    <div class="min-box d-flex flex-wrap ">
                        <span class="m-2">
                            <p class="fs-5"><b>ADDRESS</b></p>
                            <p>195 Wellington St S, Hamilton, ON L8N 1Y1</p>
                        </span>
                        <span class="m-2">
                            <p class="fs-5"><b>OPEN TIME</b></p>
                            <p>Monday - Friday: 9:00AM - 08:30PM</p>
                            <p>Saturday: 10:00AM - 9:30AM</p>
                        </span>
                        <span class="m-2">
                            <p class="fs-5"><b>CONTACT</b></p>
                            <p><span class="bi-telephone-fill">&nbsp;</span>289-659-2275</p>
                            <p><span class="bi bi-envelope-fill"> &nbsp;</span>aandbcleaner&#64;gmail.com</p>
                        </span>
                    </div>
                    
                    <div class=" contact-foot d-flex flex-wrap justify-content-between">
                        <button class="primary-btn btn px-5"> Get Quote Now</button>
                        <div class="fs-2">
                            <h5>FOLLOW OUR SOCIALS</h5>
                            <span class="bi bi-facebook m-2"></span>
                            <span class="bi bi-instagram m-2"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>