<section class="footer p-5 d-flex flex-column">
    <div class="body m-5 d-flex flex-wrap justify-content-between">
        <div class="box d-flex flex-column">
            <h3>A & B Cleaners<br> Janitorial Service</h3>
            <p>making people happy, one swipe
                at a time
            </p>
            <p class="bi-chat-text">&nbsp; For enquiries, aandcleaner&#64;gmail.com</p>
            <p class="bi-telephone">&nbsp; For calls, 289-659-2275</p>
        </div>
        <div class="box d-flex flex-column">
            <h5>Navigation</h5>
            <a routerLink=''>Home</a>
            <a routerLink='services'>Services</a>
            <a routerLink='contact'>Contact</a>
            <a routerLink=''>About</a>
        </div>
        <div class="box d-flex flex-column">
            <h5>Help</h5>
            <a routerLink=''>Customer's support</a>
            <a routerLink='services'>Frequently asked questions</a>
            <a routerLink='contact'>Privacy policy</a>
        </div>
        <div class="box d-flex flex-column">
            <h5>Contact us</h5>
            <a routerLink=''>Our company</a>
            <a routerLink='services'>Testimonials</a>
            <a routerLink='contact'>Our locations</a>
            <a routerLink=''>Book a service</a>
        </div>
    </div>
    <small class="m-auto">Copyright  2024 by A&B Cleaners - All rights reserved</small>
</section>