<p-toast />
<ng-template #successTpl> <span class="bi-check-circle-fill">&nbsp;</span>Service Booked successfully </ng-template>
<ng-template #errorTpl><span class="bi-x-circle-fill">&nbsp;</span> Error, Please try again </ng-template>



<section class=" d-flex flex-column m-5 p-5">
    <!-- <p-button pRipple (click)="notification()" label="Show" /> -->

    
    <b>Book a service</b>
    <p class="fs-5">Book a schedule in <span class="blueify"> 60 seconds</span> and get a <span
            class="blueify">quote</span> today</p>

    <div class=" d-flex m-auto input-frame ">
        <form [formGroup]="BookingFormGroup" class=" d-flex flex-column  input-holder">
            <div class="d-flex justify-content-around">

                <div class="form-floating  mb-3">
                    <input type="text" class="form-control" formControlName="name" id="name" placeholder="Enter Name">
                    <label for="name">Name</label>
                    <small *ngIf="BookingFormGroup.get('name')?.touched && BookingFormGroup.get('name')?.hasError('required')"
                                    class="text-danger">
                                    Field Required
                            </small>

                </div>
                <div class="form-floating   mb-3">

                    <input type="email" class="form-control col-6" id="email" formControlName="email" placeholder="name@example.com">
                    <label for="email">Email </label>
                    <small *ngIf="BookingFormGroup.get('email')?.touched && BookingFormGroup.get('email')?.hasError('required')"
                                    class="text-danger">
                                    Field Required
                            </small>

                </div>
            </div>

            <div class="d-flex justify-content-around">

                <div class="form-floating  mb-3">
                    <input type="text" class="form-control" formControlName="phone_number" id="phone_number"
                        placeholder="Enter Phone Number">
                    <label for="phone_number">Phone</label>
                    <small *ngIf="BookingFormGroup.get('phone_number')?.touched && BookingFormGroup.get('phone_number')?.hasError('required')"
                                    class="text-danger">
                                    Field Required
                            </small>

                </div>
                <div class=" select  mb-3">
                    <label for="">Select Services</label>
                    <select required type="type_of_cleaning" formControlName="type_of_cleaning" class="form-control col-6" id="type_of_cleaning"
                        >
                        <option selected disabled>Select Service</option>
                        <option *ngFor="let services of ['Office cleaning', 'Church Cleaning', 'Supermarket Cleaning', 'Industrial Facility Cleaning'
                                                            , 'Residential/Home Cleaning', 'Healthcare Facility Cleaning ', 'Commercial Building Cleaning']">
                                                            {{services}}
                                                        </option>
                                                        <option value='Custom Type' class="text-warning">Insert Custom Service</option>
                        
                    </select>
                    <input *ngIf="BookingFormGroup.get('type_of_cleaning')?.value == 'Custom Type'" formControlName="customType" class="form-control" placeholder="Enter custom option">
                    <small *ngIf="BookingFormGroup.get('type_of_cleaning')?.touched && BookingFormGroup.get('type_of_cleaning')?.hasError('required')"
                    class="text-danger">
                    Field Required
                            </small>

                </div>
            </div>

            <div class="d-flex justify-content-around">

            <div class="form-floating  mb-3">
                <input type="text" class="form-control" formControlName="address" id="address"
                    placeholder="Enter address">
                <label for="address">Address</label>
                <small *ngIf="BookingFormGroup.get('address')?.touched && BookingFormGroup.get('address')?.hasError('required')"
                                    class="text-danger">
                                    Field Required
                            </small>

            </div>
            <div class="form-floating   mb-3">

                <input type="number" class="form-control col-6" id="number_of_rooms"
                   formControlName="number_of_rooms" placeholder="Enter Number of Rooms">
                <label for="number_of_rooms">Number of rooms </label>
                <small *ngIf="BookingFormGroup.get('number_of_rooms')?.touched && BookingFormGroup.get('number_of_rooms')?.hasError('required')"
                                    class="text-danger">
                                    Field Required
                            </small>

            </div>
            </div>

            <div class="d-flex justify-content-around">


            <div class="border time mb-3">
                <label for="date_and_time">Date and time </label>
                <input type="datetime-local" id="date_and_time" formControlName="date_and_time" name="date_and_time">
                <small *ngIf="BookingFormGroup.get('date_and_time')?.touched && BookingFormGroup.get('date_and_time')?.hasError('required')"
                                    class="text-danger">
                                    Field Required
                            </small>
            </div>
            <div class="form-floating   mb-3">

                <input type="additional_comments" class="form-control col-6" formControlName="additional_comments"
                    id="additional_comments" placeholder="Enter Additional Request">
                <label for="additional_comments">Enter Additional Request </label>
                <small *ngIf="BookingFormGroup.get('additional_comments')?.touched && BookingFormGroup.get('additional_comments')?.hasError('required')"
                class="text-danger">
                Field Required
        </small>
            </div>

            </div>

            <button *ngIf="!buttonLoader" [disabled]="this.BookingFormGroup.invalid" class="m-auto primary-btn btn" (click)="submit(successTpl, errorTpl)">Book Now</button>
            <button disabled *ngIf="buttonLoader" class="m-auto primary-btn btn "><span class="spinner-border spinner-border-sm" role="status"></span> Booking...</button>
        </form>
    </div>

</section>