<div class="pos container-fluid">

    <div class="d-flex justify-content-between header head">
        <div class="contact d-flex pt-2  justify-content-between gap-5">
    
            <div class="address d-flex">
                <span class="contact-icon bi bi-geo-alt-fill"></span>
                <p>195 Wellington St S, Hamilton, ON L8N 1Y1</p>
            </div>
    
            <div class="phone d-flex">
                <span class=" contact-icon bi bi-telephone-fill"></span>
                <p>289-659-2275</p>
            </div>
    
        </div>
        <div class="socials d-flex justify-content-around">
    
            <span class=" soc-icon  px-3">
                <span class="bi bi-envelope-fill "></span>
    
            </span>
    
            <span class="soc-icon  px-3">
                <span class="bi bi-instagram"></span>
            </span>
    
            <span class=" soc-icon px-3 ">
                <span class="bi bi-facebook "></span>
    
            </span>
    
        </div>
    </div>
</div>
<div class="header header2 d-flex justify-content-between">
    <div class="logo ">
        <img src="../../../assets/logo.png" width="60">
    </div>
    <div class="navigations d-flex gap-5">
        <a class="nav" routerLink='' >Home</a>
        <a class="nav" routerLink='services' >Services</a>
        <a class="nav"> Contact Us</a>
        <a class="nav">About Us</a>
        <button class="primary-btn btn m-1"><b>Book a service now</b></button>
    </div>
</div>
<div class="small-screen p-2">
    <div class="small-cont">
        <div class="address d-flex">
            <span class="contact-icon bi bi-geo-alt-fill"></span>
            <p>195 Wellington St S, Hamilton, ON L8N 1Y1</p>
        </div>

        <div class="phone d-flex">
            <span class=" contact-icon bi bi-telephone-fill"></span>
            <p>289-659-2275</p>
        </div>
    </div>
    <div class="small-header d-flex justify-content-between">
        <img src="../../../assets/logo.png" width="60">
        <button class="btn bi-text-right"></button>
    </div>
</div>