<section class="hero ">
    <div class="">


        <h1 class="mt-4">
            <b>Comprehensive Cleaning<br>
                Services Tailored to You</b>
        </h1>
        <p>
            Eplore our range of specialized cleaning solutions for your spaces.
        </p>
        <div class="hero-btn d-flex">
            <button routerLink="booking" class="primary-btn btn p-3"><b> Book a service now</b></button>
            <button class=" btn p-3" routerLink="booking"><b>Get free quote today <span class="bi bi-arrow-up-right"></span></b></button>
        </div>
    </div>
</section>


<section class="services m-5 p-5 d-flex flex-column">
    <span class="d-flex justify-content-between">
        <p class="fs-2 heading">Services Include</p>
    </span>
    <div class="mt-5 mb-3">
        <div class="box-hold d-flex flex-wrap justify-content-between">
            <div class="box">
                <span class="fs-1 blueify bi-building">
                </span>
                <p class="fs-5"><b>Office Cleaning</b></p>
                <p>We enhance your work environmet with our expert
                    office cleaning services. We provide a
                    comfortable workspace for you and your team
                </p>
            </div>
            <div class="box">
                <span class=" fs-1 blueify bi bi-buildings">
                </span>
                <p class="fs-5"><b>Industrial Facility Cleaning</b></p>
                <p>Keep your industrial facility running smoothly
                    with A&B cleaning services. We handle warehouses,
                    manufacturing plants, and other industrial spaces
                </p>
            </div>
            <div class="box">
                <span class=" fs-1 blueify bi bi-house-door-fill">
                </span>
                <p class="fs-5"><b>Residential / Home Cleaning</b></p>
                <p>Transform youir home into a haven of cleanliness and comfort
                    with our residential cleaning services.
                </p>
            </div>
        </div>
        <div class="box-hold d-flex flex-wrap justify-content-between">
            <div class="box">
                <span class="fs-1 blueify bi-shop">
                </span>
                <p class="fs-5"><b>Supermarkets Cleaning</b></p>
                <p>Create a welcoming shopping experience with our
                    professional supermarket cleaning. We maintain cleanliness.
                </p>
            </div>
            <div class="box">
                <span class=" fs-1 blueify bi bi-shop-window">
                </span>
                <p class="fs-5"><b>Commercial Building Cleaning</b></p>
                <p>Enhance the appearance and functionality of your
                    commercial building with our comprehensive cleaning services.
                </p>
            </div>
            <div class="box">
                <span class=" fs-1 blueify bi bi-hospital">
                </span>
                <p class="fs-5"><b>Healthcare Facility Cleaning</b></p>
                <p>Prioritize health and safety of patients and staff with our specialized healthcare facility cleaning services.
                </p>
            </div>
        </div>


        <div class="box-hold d-flex flex-wrap justify-content-between">
            <div class="box">
                <img src="../../../assets/church.png" alt="">
                <p class="fs-5"><b>Church Cleaning</b></p>
                <p>We respect the sacred nature of your place of worship
                    and provide cleaning services with cate and attention to detail
                </p>
            </div>
            <div class="box">
                <span class=" fs-1 blueify bi bi-bucket">
                </span>
                <p class="fs-5"><b>Deep Cleaning</b></p>
                <p>Our deep cleaning service goes beyond the surface to get rid of
                    built-up and hidden dirt. We meticulously clean every corner of your space.
                </p>
            </div>
            <div class="box">
                <img src="../../../assets/spray.png" alt="">

                <p class="fs-5"><b>Move in /move out Cleaning </b></p>
                <p>We make your move stress-free with our move-in/move-out
                    cleaning services. We ensure your new or former home is immaculate.
                </p>
            </div>
        </div>
        <div class="box-hold d-flex flex-wrap justify-content-between">
            <div class="box">
                <img src="../../../assets/teenyicons_school-outline.png" alt="">

                <p class="fs-5"><b>School Cleaning</b></p>
                <p>We understand the importance of cleanliness in educational
                    institutions for the well-being of students, teachers, and staff.
                </p>
            </div>
            <div class="box">
                <img src="../../../assets/lucide_construction.png" alt="">

                <p class="fs-5"><b>Pre-Construction Cleaning</b></p>
                <p>We handle the removal of debris, dust, and other
                    construction-related materials to ensure a clear, safe worksite.
                </p>
            </div>
            <div class="box">
                <span class=" fs-1 blueify bi bi-cone">
                </span>
                <p class="fs-5"><b>Post-Construction Cleaning</b></p>
                <p>We handle debris removal, dusting, and thorough cleaning to prepare
                    your space for use. Transition smoothly from construction to occupancy.
                </p>
            </div>
        </div>
    </div>
    <button class="btn primary-btn m-auto" routerLink="booking">Get Quote now</button>
</section>

<section class="m-5 p-5 d-flex flex-column services">

    <p class="fs-3">Benefits</p>
    <b>What you <span class="blueify">gain </span>from choosing our <span class="blueify">services</span></b>

    <ul>
        <li><b>Eco-Friendly Practices:</b> We prioritize your health and the environment
            by using safe, eco-friendly cleaning products in all our services. Our approach
            ensures effective cleaning without harsh chemicals</li>
        <li><b>Flexible Scheduling:</b> We work around your availability with flexible scheduling options. Whether
            you need cleaning during business hours, evenings, or weekends, we've got you covered.</li>
        <li><b>Advanced Cleaning Techniques:</b> Our team stays up to date with the latest cleaning technologies
            and methods to provide you with the most efficient and effective services possible.</li>
        <li><b>Consistent Quality:</b> Consistency is key to our service. You can trust us to deliver the same
            high-quality cleaning each time, so you always know what to expect.</li>
    </ul>
    <button class="btn primary-btn m-auto" routerLink="booking">Get Quote now</button>

</section>

<section class="contact m-5 p-5">
    <p class="fs-3">Contact Us</p>
    <span class="d-flex justify-content-between">
        <b>Tailored Cleaning <span class="blueify">Solutions</span> For Every Need</b>
    </span>
    <div class="mt-5 mb-3">
        <div class="box-hold d-flex flex-wrap justify-content-around">
            <div class="contact-cell d-flex p-3">
                <div class="box p-3 border-rounded m-auto">
                    <div class="min-box d-flex flex-wrap ">
                        <span class="m-2">
                            <p class="fs-5"><b>ADDRESS</b></p>
                            <p>195 Wellington St S, Hamilton, ON L8N 1Y1</p>
                        </span>
                        <span class="m-2">
                            <p class="fs-5"><b>OPEN TIME</b></p>
                            <p>Monday - Friday: 9:00AM - 08:30PM</p>
                            <p>Saturday: 10:00AM - 9:30AM</p>
                        </span>
                        <span class="m-2">
                            <p class="fs-5"><b>CONTACT</b></p>
                            <p><span class="bi-telephone-fill">&nbsp;</span>289-659-2275</p>
                            <p><span class="bi bi-envelope-fill"> &nbsp;</span>aandbcleaner&#64;gmail.com</p>
                        </span>
                    </div>

                    <div class=" contact-foot d-flex flex-wrap justify-content-between">
                        <button class="primary-btn btn px-5" routerLink="booking"> Get Quote Now</button>
                        <div class="fs-2">
                            <h5>FOLLOW OUR SOCIALS</h5>
                            <span class="bi bi-facebook m-2"></span>
                            <span class="bi bi-instagram m-2"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>