<section class="hero ">
    <div class="">

        <h1 class="mt-4">
            <b>Get in Touch with A & B <br>Cleaners Janitorial Service </b>
        </h1>
        <p>
            We'd absolutely Love to Hear from You
        </p>
        <div class="hero-btn d-flex">
            <button class="primary-btn btn " routerLink="/services"><b> Get in touch today</b></button>
            <button class=" btn " routerLink="/booking"><b>Get free quote today <span class="bi bi-arrow-up-right"></span></b></button>
        </div>
    </div>
</section>

<section class="services m-5 p-5 d-flex flex-column">
    <span class="">
        <b>About Us</b>
        <p class="fs-4 heading">Our <span class="blueify">Mission</span> and <span class="blueify">Vision</span></p>
    </span>
    <div class="mt-5 mb-3">
        <div class="box-hold d-flex flex-wrap justify-content-between">

            <img src="../../../assets/workerr.png" width="35%" alt="" class="mb-4">

            <div class="box2 ">
                <div class="card p-3 mb-2">
                    <b>Welcome to A&B Cleaners!</b>
                    <p>We take pride in providing exceptional cleaning and janitorial services across various spaces. As
                        a fully insured and bonded company, we prioritize your peace of mind with secure and reliable
                        services.</p>
                </div>
                <div class="d-flex gap-2">
                    <div class="card p-3 ">
                        <span class="fs-2 blueify bi-bullseye"></span><br>
                        <b class="fs-5">
                            Our Mission
                        </b>
                        <p>Our mission is to provide exceptional cleaning services that exceed our clients'
                            expectations. We prioritize sustainability and customer satisfaction.</p>
                    </div>
                    <div class="card p-3 ">
                        <span class=" fs-2 blueify bi bi-eye"></span><br>
                        <b class="fs-5">
                            Our Vision
                        </b>
                        <p>Our vision is to be the leading cleaning service provider recognized for our commitment to
                            quality, reliability, and customer-centric solutions.</p>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <button class="btn primary-btn m-auto">Get Quote now</button>
</section>

<section class="m-5">
    <p>FREQUENTLY ASKED QUESTIONS</p>
    <p class="fs-5">You’ve got question and we have the <span class="blueify">Answers</span> to your <span class="blueify">Frequently Asked Questions</span></p>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    How do i book a cleaning service?
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    You can easily book a cleaning service by contacting us through our website, phone, or email. We
                    offer flexible scheduling options to accommodate your availability
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    How long does a cleaning session typically take?
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    The duration of a cleaning session depends on the size and condition of the space. We can provide an
                    estimated time frame when you book your service. </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                    What areas do you service?
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    We offer our cleaning services in All over Canada. If you're unsure whether we serve your
                    location, please contact us.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                    What cleaning products do you use?
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    We use safe, eco-friendly cleaning products that are effective and gentle on surfaces. Our products are safe for people, pets, and the environment.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                    Do you offer recurring cleaning services?
                </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Absolutely! We offer recurring cleaning services at intervals that work for you, such as weekly, bi-weekly, or monthly. Let us know your preference when booking.
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact m-5 p-5">
    <p class="fs-5"><b>CONTACT US</b></p>
    <span class="d-flex justify-content-between">
        <b>Tailored Cleaning <span class="blueify">Solutions</span> For Every Need</b>
    </span>
    <div class="mt-5 mb-3">
        <div class="box-hold d-flex flex-wrap justify-content-around">
            <div class="contact-cell d-flex p-3">
                <div class="box p-3 border-rounded m-auto">
                    <div class="min-box d-flex flex-wrap ">
                        <span class="m-2">
                            <p class="fs-5"><b>ADDRESS</b></p>
                            <p>195 Wellington St S, Hamilton, ON L8N2R7 </p>
                        </span>
                        <span class="m-2">
                            <p class="fs-5"><b>OPEN TIME</b></p>
                            <p>Monday - Saturday: <br> Open 24 hours</p>
                        </span>
                        <span class="m-2">
                            <p class="fs-5"><b>CONTACT</b></p>
                            <p><span class="bi-telephone-fill">&nbsp;</span>289-659-2275</p>
                            <p><span class="bi bi-envelope-fill"> &nbsp;</span>aandbcleaner&#64;gmail.com</p>
                        </span>
                    </div>
                    
                    <div class=" contact-foot d-flex flex-wrap justify-content-between">
                        <button class="primary-btn btn px-5"> Get Quote Now</button>
                        <div class="fs-2">
                            <h5>FOLLOW OUR SOCIALS</h5>
                            <span class="bi bi-facebook m-2"></span>
                            <span class="bi bi-instagram m-2"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
