/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@syncfusion/ej2-grids/styles/material.css';

.primary-btn{
    background-color: #FFD21A !important;
    border-radius: 30px;

}

a{
    text-decoration: none;
}
.blueify{
    color: #2194AB;
}

.blueify-bg{
    background-color: #CAE1E5;
}

.hero-tag{
    border-radius: 20px;
}

.hero-btn{
  height: 47px;
}

.contact-foot h5{
    color: white;
}

.contact-foot .bi{
    color: #FFD21A !important;
}

.contact-foot{
}

.contact-foot .primary-btn{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  height: 50px;


}

.box {  
    width: 40%;
  }
  
  .box2 {
    width: 43%;
  }

  .services .primary-btn {
    width: 30%;
  }
  .box-hold .box {
    width: 25%;
  }
  .contact .contact-cell {
    background-image: url('../src/assets/officemen4.png');
    background-size: cover;
    /* width: 30%; */
    border-radius: 30px;
  }
  
  .contact-cell span {
    width: 30%;
    color: white;
  }
  
  
  .contact-cell .box {
    background-color: #20b1cebc;
    width: 100%;
    border-radius: 20px;
  }
  
  
  @media (max-width:700px){
    .hero-btn button{
      font-size: 10px;
    }
    
    .primary-btn{
    border-radius: 40px;

    }
    .services .box-hold {
        flex-direction: column;
      }
      .services .box-hold {
        flex-direction: column;
      }
    
      .services .box {
        width: 100%;
      }
      .services{
        margin: 10px !important;
        padding: 10px !important;
      }
    
      .services .primary-btn {
        width: 100%;
      }
      .contact {
        margin: 1px !important;
      }
      .contact span {
        width: 100%;
      }
      .contact .min-box{
        /* flex-direction: column; */
        width: 100%;
      }
      .min-box span{
        margin: 0px !important;
      }
  }